state/runtime.yaml
rules/workspace/*
!rules/workspace/.gitkeep
config/*
!config/*.template.yaml
tmp/*
!tmp/.gitkeep
assets/workspace_dictionary/*
!assets/workspace_dictionary/*.template.yaml
!assets/workspace_dictionary/.gitignore
!assets/workspace_dictionary/*/
assets/workspace_dictionary/*/*
workspace/world/*
workspace/adventure/*
!workspace/world/.gitkeep
!workspace/adventure/.gitkeep
